html, body {
    padding: 5px;
 }

 body {
     display: block;
     margin: 8px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     background-color: peachpuff;
 }

 header {
    display: flex;
    grid-template-columns: .2fr .6fr .2fr;
    grid-template-areas: "left header" "center header" "right header";
    text-align: center;
 }

 .alignleft{
     padding-top: 3rem;
     text-align: right;
     width:20%;
 }

 .aligncenter{
     text-align: center;
     width:50%;
 }

 .alignright{
     padding-top: 3rem;
     text-align:left;
     width:20%;
 }

.main {
    display:flex;
    background-color:khaki;
}

.leftcolumn{
    width: 40%;
    margin: 8px;
}

.rightcolumn{
    padding-left: 1rem;
    width: 59%;
    margin: 8px;
    text-align: center;
}

#map {
    grid-area: map;
    height: 40vh;
}

#footer {
    grid-area: footer;
}