html, body {
    padding: 5px;
 }

 body {
     display: block;
     margin: 8px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     background-color: peachpuff;
    /* background-image: url('https://emoji.gg/assets/emoji/9109_Sad_Cat_Thumbs_Up.png');
     background-size: 300px 100px; */
 }

 header {
    display: flex;
    grid-template-columns: .2fr .6fr .2fr;
    grid-template-areas: "left header" "center header" "right header";
    text-align: center;
    background-color: peachpuff;
 }

 .alignleft{
     padding-top: 5rem;
     padding-bottom: 1rem;
     text-align: center;
     width:20%;
     background-color: skyblue;
 }

 .aligncenter{
     text-align: center;
     width:59%;
 }

 .alignright{
     padding-top: 5rem;
     padding-bottom: 1rem;
     text-align:center;
     width:20%;
     background-color: skyblue;
 }

.main{
    display:flex;
    background-color:khaki;
}

.main2{
    display:flex;
    background-color: paleturquoise;
}

.aboutLeft{
    display:flex; 
    width: 69%;
    margin: 8px;
}

.aboutRight{
    display:flex; 
    width: 30%;
    margin: 8px;
    text-align: right;
}

.leftcolumn{
    width: 40%;
    margin: 8px;
}

.rightcolumn{
    padding-left: 1rem;
    width: 59%;
    margin: 8px;
    text-align: center;
}

#map {
    grid-area: map;
    height: 40vh;
}

#footer {
    grid-area: footer;
}